<app-navbar></app-navbar>
<div class="dashboard-container">
  <div class="form-group">
    <label for="conflictSelect">Select Conflict:</label>
    <select 
      id="conflictSelect" 
      [(ngModel)]="selectedConflict" 
      (ngModelChange)="onConflictChange()"
      class="form-control">
      <option [ngValue]="null">Select a conflict</option>
      <option *ngFor="let conflict of conflicts" [ngValue]="conflict">
        {{conflict.name}} ({{conflict.startDate}} - {{conflict.endDate}})
      </option>
    </select>
  </div>
</div>
